Team Gordon

Student Name	Student Number
 Alisha Sahota	20497348
 Anthony Ramelo	20499391
 Chris Wu	10182394
 Elizabeth Zhang	20161231
 Emily Zhao	10096273
 Sam Hossain	20466500

In [2]:
#Import required libraries
import pandas as pd
import os
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine,text
engine = create_engine('sqlite:///:memory:')

In [4]:
dfcrosssection = pd.read_excel('Data 3 - October, 2024.xlsx', sheet_name = 'Parachute - Cross Section')
dftupanel = pd.read_excel('Data 3 - October, 2024.xlsx', sheet_name = 'TU - Panel')
dfmonthlywellness = pd.read_excel('Data 3 - October, 2024.xlsx', sheet_name = 'Monthly Wellness and Engagement')
dfmonthlywellness['loanid'] = dfmonthlywellness['loanid'].astype(str)
dfGoals_and_plans_ALLDATA_202410 = pd.read_excel('Data 3 - October, 2024.xlsx', sheet_name = 'Goals_and_plans_ALLDATA_202410')
dfGoals_and_plans_ALLDATA_202410['public_id'] = '1' + dfGoals_and_plans_ALLDATA_202410['public_id'].astype(str)
dfAddiitonalTUData = pd.read_excel('Data 3 - October, 2024.xlsx', sheet_name = 'Addiitonal TU Data')
#merging data
merged_data = dfGoals_and_plans_ALLDATA_202410.merge(dfmonthlywellness, how='left', left_on='public_id',right_on='loanid')
# merged_data = merged_data.merge(dfmonthlywellness, how='left', left_on='loan_id', right_on='loanid')
# merged_data['ID'] = merged_data['ID'].astype(str)
# merged_data = merged_data.merge(dfGoals_and_plans_ALLDATA_202410, how='left', left_on='ID', right_on='public_id')
# merged_data = merged_data.merge(dfAddiitonalTUData, how='left', left_on=['loan_id'], right_on=['loan_id'])

In [5]:
merged_data

,id,public_id,assessment_completed_date,assessment_month,month_being_assessed,goal_no_new_debt,goal_paid_bills_on_time,goal_paid_parachute_on_time,reason,under_utilization,...,count_custom3,loanid,id-date,month,quiz_answer_count,mood_answer_count,inspiration_answer_count,self_assessment_count,activities_count,wellness_score
0,6853,123,2022-08-03,00:00:00,2022-07-01,True,True,1.0,NaN,False,...,3,123,123 2022-07,2022-07,6.0,1.0,0.0,0.0,7.0,NaN
1,6853,123,2022-08-03,00:00:00,2022-07-01,True,True,1.0,NaN,False,...,3,123,123 2022-08,2022-08,1.0,1.0,0.0,1.0,3.0,NaN
2,6853,123,2022-08-03,00:00:00,2022-07-01,True,True,1.0,NaN,False,...,3,123,123 2022-12,2022-12,6.0,0.0,0.0,1.0,7.0,29.0
3,6853,123,2022-08-03,00:00:00,2022-07-01,True,True,1.0,NaN,False,...,3,123,123 2023-03,2023-03,10.0,0.0,0.0,1.0,11.0,19.0
4,6853,123,2022-08-03,00:00:00,2022-07-01,True,True,1.0,NaN,False,...,3,123,123 2023-04,2023-04,8.0,1.0,0.0,1.0,10.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28129,20727794,18048,2024-10-02,00:00:00,2024-09-01,True,True,1.0,NaN,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28130,19298218,18063,2024-08-01,00:00:00,2024-07-01,True,True,1.0,NaN,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28131,20178475,18063,2024-09-08,00:00:00,2024-08-01,True,True,1.0,NaN,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28132,20159280,18111,2024-09-07,00:00:00,2024-08-01,True,True,1.0,NaN,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28133,20730889,18111,2024-10-02,00:00:00,2024-09-01,True,True,1.0,NaN,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
merged_data.to_csv('merged_data.csv')

In [90]:
dfGoals_and_plans_ALLDATA_202410.drop(columns=['id'], inplace=True)
dfGoals_and_plans_ALLDATA_202410

,public_id,assessment_completed_date,assessment_month,month_being_assessed,goal_no_new_debt,goal_paid_bills_on_time,goal_paid_parachute_on_time,reason,under_utilization,user_id,...,count_chat_before_new_debt,count_chat_for_debt_reduction,count_contact_biller,count_no_new_debt_upcoming_month,count_pay_more_on_cc,count_pay_of_cc,count_spend_less,count_custom1,count_custom2,count_custom3
0,123,2022-08-03,00:00:00,2022-07-01,True,True,1.0,NaN,False,2241,...,2,2,1,1,2,2,1,3,3,3
1,123,2022-08-01,00:00:00,2022-07-01,True,True,1.0,NaN,False,1519,...,2,2,1,1,2,2,1,3,3,3
2,123,2022-09-10,00:00:00,2022-08-01,True,True,1.0,NaN,False,1519,...,2,2,1,1,2,2,1,3,3,3
3,123,2022-10-03,00:00:00,2022-09-01,True,False,1.0,NaN,False,1519,...,2,2,1,1,2,2,1,3,3,3
4,123,2022-11-02,00:00:00,2022-10-01,False,True,1.0,Test account reason,False,1519,...,2,2,1,1,2,2,1,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1868,18048,2024-10-02,00:00:00,2024-09-01,True,True,1.0,NaN,False,19082582,...,0,0,0,0,0,0,0,0,0,0
1869,18063,2024-08-01,00:00:00,2024-07-01,True,True,1.0,NaN,True,19247802,...,0,0,0,0,0,0,0,0,0,0
1870,18063,2024-09-08,00:00:00,2024-08-01,True,True,1.0,NaN,False,19247802,...,0,0,0,0,0,0,0,0,0,0
1871,18111,2024-09-07,00:00:00,2024-08-01,True,True,1.0,NaN,True,19792505,...,0,0,0,0,0,0,0,0,0,0
1872,18111,2024-10-02,00:00:00,2024-09-01,True,True,1.0,NaN,True,19792505,...,0,0,0,0,0,0,0,0,0,0

In [74]:
dfmonthlywellness

,loanid,id-date,month,quiz_answer_count,mood_answer_count,inspiration_answer_count,self_assessment_count,activities_count,wellness_score
0,11011,11011 2023-03,2023-03,10,0,0,0,10,43.0
1,11011,11011 2023-04,2023-04,8,0,0,1,9,50.0
2,11011,11011 2023-05,2023-05,10,0,0,1,11,46.0
3,11011,11011 2023-06,2023-06,9,0,0,1,10,48.0
4,11011,11011 2023-07,2023-07,8,0,0,1,9,43.0
...,...,...,...,...,...,...,...,...,...
2086,1995,1995 2023-06,2023-06,2,0,0,1,3,65.0
2087,1995,1995 2023-08,2023-08,0,0,0,1,1,68.0
2088,1995,1995 2023-12,2023-12,0,0,0,1,1,63.0
2089,1995,1995 2024-01,2024-01,0,0,0,1,1,NaN
2090,1995,1995 2024-09,2024-09,0,0,0,1,1,NaN